<div class="min-h-screen text-slate-100">
  <div class="grid min-h-screen grid-cols-12 gap-4">
    <aside
      class="col-span-12 md:col-span-2 border-r border-slate-800/70 shadow-[0_30px_80px_-70px_rgba(15,23,42,0.9)]"
    >
      <app-sidebar></app-sidebar>
    </aside>

    <main class="col-span-12 md:col-span-10 p-4 lg:p-6">
      <div class="grid gap-4">
        <section
          class="rounded-[2rem] border border-slate-800/70 bg-[#0f1832]/95 p-5 shadow-[0_25px_60px_-35px_rgba(15,23,42,0.7)]"
        >
          <router-outlet></router-outlet>
        </section>
      </div>
    </main>
  </div>
</div>
